# Игнорируем виртуальные окружения (Windows/Local)
**/.venv/
**/venv/
**/ENV/

# Игнорируем папки с моделями, так как они УЖЕ есть в базе
**/data_models/
.cache/

# Игнорируем кэш Python
**/__pycache__
*.pyc

# Игнорируем системные файлы и гигантские логи
.git
.gitignore
.vscode
*.log

Dockerfile*